.box1 {
  height: 200px;
  width: 100%;
  background-color: red;
}

.box2 {
  height: 200px;
  width: 100%;
  background-color: green;
}

.box3 {
  height: 200px;
  width: 100%;
  background-color: blue;
  float: left;
}

.box4 {
  height: 200px;
  width: 100%;
  background-color: yellow;
  float: left;
}

.box2 {
  float: left;
}
