@charset "UTF-8";
body {
  font-family: 'メイリオ' , 'Hiragino Kaku Gothic Pro', sans-serif;
}

.site h1 {
  margin: 0;
  font-size: 30px;
}

.site h1 a {
  color: #000000;
  text-decoration: none;
}

/*　横並びのメニュー */
.menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu ul:after {
  content: "";
  display: block;
  clear: both;
}

.menu li {
  float: left;
  width: auto;
}

.menu li a {
  display: block;
  padding: 15px;
  color: #000000;
  font-size: 14px;
  text-decoration: none;
}

.menu li a:hover {
  background-color: #75dbe7;
}

.kiji h1 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 36px;
}

.kiji p {
  margin-top: 0;
  margin-bottom: 20px;
}

.kiji img {
  max-width: 100%;
  height: auto;
}

.sidemenu {
  margin-bottom: 30px;
}

.sidemenu h1 {
  margin-top: 0;
  margin-bottom: 10px;
  border-bottom: dotted 2px #dddddd;
  color: #666666;
  font-size: 18px;
}

.sidemenu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidemenu li a {
  display: block;
  padding: 5px;
  color: #000000;
  font-size: 14px;
  text-decoration: none;
}

.sidemenu li:hover {
  background-color: #eeeeee;
}

.osusume {
  margin-bottom: 30px;
}

.osusume h1 {
  margin-top: 0;
  margin-bottom: 10px;
  border-bottom: dotted 2px #dddddd;
  color: #666666;
  font-size: 18px;
}

.osusume ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.osusume li a {
  display: block;
  padding: 5px;
  color: #000000;
  font-size: 14px;
  text-decoration: none;
}

.osusume li:hover {
  background-color: #eeeeee;
}

.ninki h1 {
  margin-top: 0;
  margin-bottom: 10px;
  border-bottom: dotted 2px #dddddd;
  color: #666666;
  font-size: 18px;
}

.ninki ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.ninki li a {
  display: block;
  padding: 5px;
  color: #000000;
  font-size: 14px;
  text-decoration: none;
}

.ninki li:hover {
  background-color: #eeeeee;
}

.copyright p {
  margin: 0;
  color: #666666;
  font-size: 14px;
}

.box1 {
  height: none;
  width: 100%;
  background-color: none;
  padding-top: 8px;
  padding-bottom: 8px;
}

.box2 {
  height: none;
  width: 100%;
  background-color: #7cbac1;
}

.box3 {
  height: none;
  width: 100%;
  background-color: none;
  padding-top: 40px;
  padding-bottom: 30px;
}

.box4 {
  height: none;
  width: 100%;
  background-color: none;
  padding-top: 40px;
  padding-bottom: 30px;
}

.box5 {
  height: none;
  width: 100%;
  background-color: none;
  border-top: solid 1px #dddddd;
  padding-top: 15px;
  padding-bottom: 15px;
}

/* ######## 599px以下 ######## */
@media (max-width: 599px) {
  /* ナビゲーション */
  .menu li a {
    padding: 10px 3px;
    font-size: 11px;
  }
  /* サイト名と記事タイトル */
  .site h1 {
    font-size: 20px;
  }
  .kiji h1 {
    font-size: 26px;
  }
  /* ボックスの上下の間隔 */
  .box1 {
    padding-top: 4px;
    padding-bottom: 4px;
  }
  .box3 {
    padding-top: 25px;
  }
}

/* ######## 600px以上〜797px以下 ######## */
@media (min-width: 600px) and (max-width: 797px) {
  .box4:after {
    content: "";
    display: block;
    clear: both;
  }
  .box4-1 {
    float: left;
    width: 50%;
    padding-right: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .box4-2 {
    float: left;
    width: 50%;
    padding-left: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}

@media (min-width: 768px) {
  .boxA:after {
    content: "";
    display: block;
    clear: both;
  }
  .box3 {
    height: none;
    width: 70%;
    background-color: none;
    float: left;
    padding-right: 50px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .box4 {
    height: none;
    width: 30%;
    background-color: none;
    float: left;
  }
}

/* ######## 1040px以上 ######## */
@media (min-width: 1040px) {
  .box1, .box2, .boxA, .box5 {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
}
